
#container
    header
        h1= title 
            <span> sequencer</span>
    div#pattern
        canvas#patternCanvas
   
    div#main
        #slider-group 
            .sliderDiv.clearfix 
                .labelDiv.clearfix
                    label(for="steps") steps
                    input#amount-steps.amount(type="text")
                .slider-container-steps.clearfix
                    #slider-steps.slider
        
            .sliderDiv.clearfix
                .labelDiv.clearfix
                    label(for="beats") beats
                    input#amount-beats.amount(type="text")
                .slider-container-beats.clearfix
                    #slider-beats.slider
            
            .sliderDiv.clearfix 
                .labelDiv.clearfix
                    label(for="note") note
                    input#amount-note.amount(type="text")
                .slider-container-note.clearfix
                    #slider-note.slider
                    
        .sliderHorizonalDiv.clearfix 
            .slider-container-velocity.clearfix
                #slider-velocity.slider
            .labelDiv.clearfix
                label(for="velocity") velocity
                input#amount-velocity.amount(type="text")
            
    section#info.debug
          h2 Users  
          a#status status
          a#sendnote1 send note.1
          a#startseq start seq
          a#stopseq stop seq
          a#panic panic
        