
#container
    header
        h1= title 
            <span> sequencer</span>
    div#pattern
        canvas#patternCanvas
   
    div#main
        #slider-group 
            .sliderDiv.clearfix 
                .labelDiv.clearfix
                    label(for="steps") steps
                    input#amount-steps.amount(type="text")
                .slider-container-steps.clearfix
                    #slider-steps.slider
        
            .sliderDiv.clearfix
                .labelDiv.clearfix
                    label(for="beats") beats
                    input#amount-beats.amount(type="text")
                .slider-container-beats.clearfix
                    #slider-beats.slider
    section#info.debug
          h2 Number of connected users: 
          a#status status
          a#sendnote1 send note.1
          a#startseq start seq
          a#stopseq stop seq
          a#panic panic
        